.__messages_error {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 40px;
    background:$color-red-5;
    padding: 5px;
    border-left: 4px solid $color-red-1;
    color: $color-red-1;
    flex-wrap: wrap;
    svg {
        width:24px;
        height:24px;
        fill: $color-red-1;
    }
    p {
        margin-left: 5px;
        font-size: 14px;
    }
}