.__form_register {
    display: block;
    width: 370px;
    min-height: 300px;
    background:$always-white;
    border-radius: $br-radius;
    padding:10px;
    box-shadow: $shadows-elements;
    img {
        margin-left:calc(50% - 50px);
        width: 100px;
        height: 100px;
    }
    .__form_register_title {
        display: flex;
        width: 100%;
        height: 40px;
        align-items: center;
        // justify-content: center;
        margin-block: 10px;
        span {
            display: flex;
            width:40px;
            height:40px;
            align-items: center;
            justify-content: center;
            background: rgb(159,91,255);
            background: linear-gradient(338deg, rgba(159,91,255,1) 0%, rgba(132,91,255,1) 47%, rgba(99,91,255,1) 100%);
            border-radius:100%;
            // padding: 5px;
            margin-right: 5px;
            p {
                font-size: 12px;
                font-family: 'SF-Bold';
                color:$always-white;
            }
        }
        h2 {
            color: $color-black-2;
            font-size:16px;
            font-family: 'SF-Bold';
            position: relative;
            
        }
    }
    .__form_register_wrapper_buttons_footer {
        display: flex;
        width: 100%;
        height: 40px;
        justify-content: space-evenly;
        margin-top: 30px;
        .__btn {
            width:40%;
        }
        .__btn:nth-child( 1 ) {
            background: transparent;
            color:$color-primary-red-3;
            border: 1px solid $color-primary-red-3;
            &:hover {
                color:$color-primary-red;
                border: 1px solid $color-primary-red;
            }
            &:active {
                color:$always-white;
                background:$color-primary-red;
            }
        }
    }
}
.__form_button_generic_rfc {
    display: flex;
    width: 100%;
    height:30px;
    flex-direction: row;
    justify-content: flex-end;
    .__btn {
        background:transparent;
        &:hover {
            background:#DBDBDB;
            color: $color-black-2;
        } 
    }
}
@include small {
    .__form_register {
        width:100%;
        height:100vh;
        padding: 40px 10px;
    }
}