.__submenu {

    display:flex;
    flex-direction: row;
    width: 100%;
    height: 2.5em;
    margin-bottom: 0.5em;
    overflow-y: hidden;
    overflow-x: auto;
    font-size: 16px;
    .__btn {
        background:$always-white;
        margin-left: 0.3125em;
        border-radius:3.125em;
        font-size: 0.8em;
        svg{
            width:1.5em;
            height: 1.5em;
            font-size:1em;
        }
        &:hover {
            background: lighten( $color-primary-purple, 10% );
            box-shadow: $shadows-elements;
        }
        &:active {
            background: $color-primary-purple;
        }
    }
    .__submenu_option_active {
        background: $color-primary-purple;
        box-shadow: $shadows-elements;
        color:$always-white;
        &:hover {
            background: $color-primary-purple;
        }
        // svg {
        //     fill:$always-white;
        //     path, rect {
        //         stroke:transparent;
        //     }
        // }
    }

}
.__submenu_bg_white {
    background:$always-white;
}
@include medium {
    .__submenu {
        font-size:14px;
    }

}